@import 'tailwindcss';

@layer base {
    @font-face {
        font-family: 'alpino';
        src: url('/fonts/Alpino-Variable.woff2') format('woff2');
    }
}

@theme {
    --font-alpino: 'alpino', sans-serif;
    --color-yellow-300: '#FDE047';
}

.animate-slide-left {
    animation: slide-left 3s linear infinite;
}

.spin-slow {
    animation: spin 6s linear infinite;
}

@keyframes slide-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes spin-slow {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
